<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2"  maxRequestLength="262144000" executionTimeout="20000"/><!--在web.config中的httpRuntime元素中添加maxRequestLength属性设置大小，同时为了支持大文件上传超时可以添加executionTimeout属性设置超时时间-->
    </system.web>

</configuration>
